@model TechReviewPoint.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center">Details</h2>

<div class="container body-content">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductImg)
        </dt>

        <dd>
            <img src="@Url.Content(Model.ProductImg)" width="250" height="250" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

    </dl>
</div>
<p style="text-align:center">
    @Html.ActionLink("Back To List", "Index", null,
    new { @class = "btn btn-warning" })
</p>
