@using TechReviewPoint.Models
@model TechReviewPoint.Models.Review

@{
    ViewBag.Title = "ReviewsInProductDetails";
    // Layout = "_Layout.cshtml";

    //  Layout = "~/Views/Shared/ProductDetailsLayout.cshtml";
    Layout = "~/Views/Shared/ProductDetailsLayout.cshtml";

}


<!--Post a Review Form Starts Here-->

@using (Html.BeginForm("ReviewsInProductDetails", "Review", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <form class="row g-3">
        <div class="col-lg-12">
            <br />
            <h5>Post a Review</h5>
            @Html.EditorFor(model => model.ReviewPost,
                new
                     {
                         htmlAttributes = new
                         {
                             placeholder = "What you think about this product?",
                   @class = "form-control"
                         }
                     })
           
            @Html.ValidationMessageFor(model => model.ReviewPost, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <br />
            <h5>Add a Image</h5>
            <br />
            <div class="col-md-10">
                <input type="file" name="review_img_file" />
            </div>
            <br />
        </div>

        <div class="col-12">
            <input type="submit" value="Post" class="btn btn-success" />
        </div>
    </form>

}
<!--Post a Review Ends Starts Here-->
<!--Review Cards Starts Here-->


@foreach (var item in ViewData["re-view"] as IEnumerable<Review>)
{

    <div class="card my-4">
        <h5 class="card-header">
            @item.User.UserName

        </h5>
        <div class="card-body">
            <h5 class="card-title">
                @item.Product.ProductName
            </h5>
            <p class="card-text">
                @item.ReviewPost
            </p>
            @{
                if (item.review_point == null)
                {
                    <p>No point yet</p>
                }
                else
                {
                    @item.review_point
                }
            }


            <p>
                @Html.ActionLink("View Details", "ReviewDetails", new { id = item.ReviewID }, new { @class = "btn btn-dark" })
            </p>
        </div>
    </div>


}

<!--Review Cards Ends Here-->
