@model TechReviewPoint.Models.Admin

@{
    
    if (Session["AdminSessionEmail"] == null)
    {
        Response.Redirect("~/Admins/AdminLogin");


    }


    var review = ViewBag.review;
    var user = ViewBag.user;
    var product = ViewBag.product;
    var issue = ViewBag.issue;
    var category = ViewBag.category;
    var pending = ViewBag.pending;

}
<!DOCTYPE html>
<html lang="zxx">
<head>


    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/Externals/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Externals/css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Externals/css/export.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Externals/css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Externals/css/circles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Externals/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Externals/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome-icons -->
    <link href="~/Externals/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">


    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>

</head>
<body>
    <!-- banner -->
    <div class="wthree_agile_admin_info">
        @*<div class="w3_agileits_top_nav">
            <ul id="gn-menu" class="gn-menu-main">
                <li class="second logo"><h1><a href="main-page.html"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Tech Review Point </a></h1></li>
                <li class="second admin-pic">
                    <ul class="top_dp_agile">
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <span class="prfil-img"><img src="~/Externals/images/admin.jpg" alt=""> </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu">
                                <li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li>
                                <li>
                                    <a href="#">Log Out</a>

                                    <i class="fa fa-sign-out"></i> Logout</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>

                <li class="second logo"><h2><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i>@Session["AdminSessionEmail"] </a></h2></li>

                <li class="second full-screen">
                    <section class="full-top">
                        <button id="toggle">


                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            <a href="@Url.Action("AdminLogOut","Admins")"> </a>
                        </button>
                    </section>
                </li>

            </ul>
            <!-- //nav -->

        </div>*@

        <div class="inner_content">

            <!-- /inner_content_w3_agile_info-->
            <div class="inner_content_w3_agile_info">
                <!-- /agile_top_w3_grids-->
                <div class="container body-content">
                    <ul class="ca-menu">
                        <li>
                            <a href="@Url.Action("Index","Users")">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main">
                                        @user
                                    </h4>
                                    <h3 class="ca-sub">USers</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Categories")">
                                <i class="fa fa-sitemap" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main one">@category</h4>
                                    <h3 class="ca-sub one">Categories</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Products")">

                                <i class="fa fa-gamepad" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main two">@product</h4>
                                    <h3 class="ca-sub two">Products</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Reviews")">

                                <i class="fa fa-tasks" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main three">@review</h4>
                                    <h3 class="ca-sub three">Reviews</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Issues")">

                                <i class="fa fa-comments" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main four">@issue</h4>
                                    <h3 class="ca-sub four">Issues</h3>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index","Pendings")">

                                <i class="fa fa-comments" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main four">@pending</h4>
                                    <h3 class="ca-sub four">Pending Products</h3>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //agile_top_w3_grids-->
                <!-- /agile_top_w3_post_sections-->
            </div>
            <!-- //inner_content_w3_agile_info-->
        </div>
        <!-- //inner_content-->
    </div>
    <div class="copyrights">
        <p>© 2021 All Rights Reserved | Design by Tech Review Point Developers</p>
    </div>
</body>
</html>