@model IEnumerable<TechReviewPoint.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEmailVerified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivationCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tp_point)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserImg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEmailVerified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivationCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tp_point)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
