@model TechReviewPoint.Models.User


@{
    //Layout = null;
  
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/Externals/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Externals/css/snow.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Externals/css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Externals/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Externals/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome-icons -->
    <link href="~/Externals/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>
<body>
    <!-- /pages_agile_info_w3l -->

    <div class="pages_agile_info_w3l">
        <!-- /login -->
        <div class="over_lay_agile_pages_w3ls two">
            <div class="registration">

                <div class="signin-form profile">
                    <h2>Sign up Form</h2>
                    <div class="login-form">
                        <form action="Registration" method="post">
                            <input type="text" name="UserName" placeholder="User Name" required="">
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            <input type="email" name="UserEmail" placeholder="E-mail" required="">
                            @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                            <input type="password" name="UserPassword" placeholder="Password" required="">
                            @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                            <input type="password" name="ConfirmPassword" placeholder="Confirm Password" required="">
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            <input type="text" name="UserPhone" placeholder="Contact Number" required="">
                            @Html.ValidationMessageFor(model => model.UserPhone, "", new { @class = "text-danger" })

                            <div class="tp">
                                <input type="submit" value="SIGN Up">
                            </div>
                        </form>
                    </div>

                    <p><a href="#"> By clicking Sign Up, I agree to your terms</a></p>

                    <h6>
                        <p>@Html.ActionLink("Back To Home", "Index", "Home")</p>

                        <h6>
</div>
            </div>
            <!--copy rights start here-->
            <div class="copyrights_agile two">
                <p>© All Rights Reserved by Tech Review Point </p>
            </div>
            <!--copy rights end here-->
        </div>
    </div>
    <!-- /login -->
    <!-- //pages_agile_info_w3l -->
    <!-- js -->

    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script src="js/modernizr.custom.js"></script>

    <script src="js/classie.js"></script>
    <script src="js/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>

    <!-- //js -->

    <script src="js/screenfull.js"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }



            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
    <script src="js/jquery.nicescroll.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/snow.js"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>


</body>
</html>
