@model TechReviewPoint.Models.Issue

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center">Details</h2>

<div class="container body-content">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IssuePost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuePost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

    </dl>
</div>
<p style="text-align:center">
    @Html.ActionLink("Back To List", "Index", null,
    new { @class = "btn btn-warning" })
</p>

<p>
    <a href="@Url.Action("Index","Replies")">Click here to response to this problem </a>
</p>

