
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    


    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>TechReviewPoint</title>

</head>
<body>
    <!-- Navbar Starts Here-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid" id="top">
            @if (Session["UserSessionEmail"] != null)
            {
                <a class="navbar-brand" href="~/ProductDetails/ProductDashboard">Tech<span>Review</span>Point</a>
            }
            else
            {
                <a class="navbar-brand" href="#">@Html.ActionLink("TechReivewPoint", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
            }

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>*@

                </ul>

                <ul class="nav navbar-nav navbar-right">

                    @if (Session["UserSessionEmail"] != null || Session["AdminSessionEmail"] != null)
                    {
                        if (Session["UserSessionEmail"] != null)
                        {
                            <!--Search box and buttons-->

                            @*<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">*@
                            <!--search-->
                            <li class="nav-item">
                                <a class="nav-link px-3" aria-current="page" href="~/ProductDetails/search">Search</a>
                            </li>
                            <!--seacrh-->
                            <!--Q&A-->
                            <li class="nav-item">
                                <a class="nav-link px-3" aria-current="page" href="~/QandA/ques">Q&A</a>
                            </li>
                            <!--Q&A ends-->
                            <!--Category Dropdown-->
                            @*<li class="nav-item dropdown px-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Category
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Smart Phones</a></li>
                        <li><a class="dropdown-item" href="#">Laptop</a></li>

                    </ul>
                </li>*@

                            <!--Account Dropdown-->
                            <li class="nav-item dropdown px-3">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @Session["UserSessionName"]
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="@Url.Action("Profile", "Users")">Profile</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("profileUpdate", "Users")">Edit Profile</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Create", "Pendings")">Request</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="~/Users/UserLogout">Log Out</a></li>
                                </ul>
                            </li>

                        }
                        else
                        {
                            <li><p style="color:#fff; margin-top:15px">@Session["AdminSessionEmail"]</p></li>
                            <li class="nav-item"><a class="nav-link" href="~/Admins/AdminLogOut">Log Out</a></li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link active px-3" aria-current="page" href="~/Home/Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link px-3" aria-current="page" href="~/Home/About">About Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link px-3" aria-current="page" href="~/QandA/ques">Q&A</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle px-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Join
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("Login", "Users")">Login</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Registration","Users")">Register</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="@Url.Action("AdminLogin", "Admins")">Admin</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>
                    }
                </ul>

            </div>
        </div>
    </nav>

    <!-- Navbar Ends Here-->
    <!-- Body Rendering Starts Here-->
    @RenderBody();
    <!-- Body Rendering Ends Here-->
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>